<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Games Center A Games Category Flat Bootstarp Resposive Website Template | Blog :: w3layouts</title>
<link href="youxi/zhuye/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="youxi/zhuye/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="youxi/zhuye/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Games Center Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<!--//fonts-->
</head>
<body> 
<!--header-->
<!--引入抽取的重复表头top-->
<!--模板名：会使用thymeleaf的前后缀配置规则进行解析-->
<div th:insert="~{youxi/zhuye/top::topbar}" ></div>
<!--content-->
<div class="blog">
	<div class="container">
		<h2>Blog</h2>
			<div class="single-inline">
				<div class="blog-to">		
					
						<a href="youxi/zhuye/single.html"><img class="img-responsive sin-on" src="youxi/zhuye/images/sin1.jpg" alt="" /></a>
							<div class="blog-top">
							<div class="blog-left">
								<b>23</b>
								<span>July</span>
							</div>
							<div class="top-blog">
								<a class="fast" href="youxi/zhuye/single.html">It is a long established fact that a reader will be distracted </a>
								<p>Posted by <a href="youxi/zhuye/single.html">Admin</a> in <a href="youxi/zhuye/#">General</a> | <a href="youxi/zhuye/single.html">10 Comments</a></p> 
								<p class="sed">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
									 when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.
									 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
									 when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.</p> 
								<a  href="youxi/zhuye/single.html" class="more">Readmore<span> </span></a>
								
							</div>
							<div class="clearfix"> </div>
					</div>
					</div>
							<div class="blog-to">		
					
						<a href="youxi/zhuye/single.html"><img class="img-responsive sin-on" src="youxi/zhuye/images/sin.jpg" alt="" /></a>
							<div class="blog-top">
							<div class="blog-left">
								<b>23</b>
								<span>July</span>
							</div>
							<div class="top-blog">
								<a class="fast" href="youxi/zhuye/single.html">It is a long established fact that a reader will be distracted </a>
								<p>Posted by <a href="youxi/zhuye/single.html">Admin</a> in <a href="youxi/zhuye/#">General</a> | <a href="youxi/zhuye/single.html">10 Comments</a></p> 
								<p class="sed">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
									 when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.
									 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
									 when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.</p> 
								<a  href="youxi/zhuye/single.html" class="more">Readmore<span> </span></a>
								
							</div>
							<div class="clearfix"> </div>
					</div>
					</div>
						<div class="blog-to">		
					
						<a href="youxi/zhuye/single.html"><img class="img-responsive sin-on" src="youxi/zhuye/images/sin2.jpg" alt="" /></a>
							<div class="blog-top">
							<div class="blog-left">
								<b>23</b>
								<span>July</span>
							</div>
							<div class="top-blog">
								<a class="fast" href="youxi/zhuye/single.html">It is a long established fact that a reader will be distracted </a>
								<p>Posted by <a href="youxi/zhuye/single.html">Admin</a> in <a href="youxi/zhuye/#">General</a> | <a href="youxi/zhuye/single.html">10 Comments</a></p> 
								<p class="sed">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
									 when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.
									 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
									 when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.</p> 
								<a  href="youxi/zhuye/single.html" class="more">Readmore<span> </span></a>
								
							</div>
							<div class="clearfix"> </div>
					</div>
					</div>
				</div>
				<nav>
				  <ul class="pagination">
					<li class="disabled"><a href="youxi/zhuye/#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
					<li class="active"><a href="youxi/zhuye/#">1 <span class="sr-only">(current)</span></a></li>
					<li><a href="youxi/zhuye/#">2 <span class="sr-only"></span></a></li>
					<li><a href="youxi/zhuye/#">3 <span class="sr-only"></span></a></li>
					<li><a href="youxi/zhuye/#">4 <span class="sr-only"></span></a></li>
					<li><a href="youxi/zhuye/#">5 <span class="sr-only"></span></a></li>
					 <li> <a href="youxi/zhuye/#" aria-label="Next"><span aria-hidden="true">»</span> </a> </li>
				  </ul>
				</nav>
			</div>
			</div>
		

	<!---->
<!--引入抽取的重复元素底部foot-->
<!--模板名：会使用thymeleaf的前后缀配置规则进行解析-->
<div th:insert="~{youxi/zhuye/foot::footbar}" ></div>

</body>
</html>