<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>超级管理降临</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/xadmin.js"></script>
    <!-- 雪花飘落的js和css-->
    <script type="text/javascript" src="./js/snowfall.jquery.js"></script>
    <style>
        html,body{padding:0;margin:0;}
        .darkBg{background:#3a3a3a;}
        *{margin:0;padding:0;}/*background-color: #5FB878*/
        body{background-image: url("image/bg.jpg")}
        .snowfall-flakes{animation:sakura 1s linear 0s infinite;}
        @keyframes sakura{
            0% {transform:rotate3d(0, 0, 0, 0deg);}
            25%{transform:rotate3d(1, 1, 0, 60deg);}
            50%{transform:rotate3d(1, 1, 0, 0deg);}
            75%{transform:rotate3d(1, 0, 0, 60deg);}
            100% {transform:rotate3d(1, 0, 0, 0deg);}
        }
    </style>
    <!--js雪花的特效-->
    <script type='text/javascript'>
         $(document).ready(function(){
            $(document).snowfall({image:"./js/img/1.png", flakeCount:20, minSpeed:1, minSize:8, maxSize:15,});
            $(document).snowfall({image:"./js/img/1.png", flakeCount:20, minSpeed:1, minSize:8, maxSize:15,});
            $(document).snowfall({image:"./js/img/2.png", flakeCount:20, minSpeed:1, minSize:8, maxSize:15,});
            $(document).snowfall({image:"./js/img/4.png", flakeCount:20, minSpeed:1, minSize:8, maxSize:15,});
          });
    </script>
    <!--ajax提交表单-->
    <script>
       /* function save() {
            let  gameinfo =$("#addform").serializeArray();
            $.ajax({
                type:"post",
                url:"/tosave",
                data:gameinfo,
                success:function (e) {
                    location.href="/toyouxi";
                },
                error:function (e) {
                    alert("添加失败")
                }

            })

        }*/

    </script>


</head>
<body>
<!-- 中部开始 -->
<!-- 顶部开始 -->
<div th:insert="~{youxi/superuser/top::usertop}"></div>
<!-- 顶部结束 -->

<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div class="left-nav" th:insert="~{youxi/superuser/concent-left.html::userleft}">
    </div>
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form  id="addform" th:action="@{/tosave}" method="post">
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>游戏名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="gname" required="" lay-verify="nikename"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>游戏简介
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="gdetail" name="gdetail" required="" lay-verify="nikename"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>游戏类型
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="gtype" name="gtype" required="" lay-verify="pass"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>游戏价格
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="uaddress" name="gprice" required="" lay-verify="pass"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>游戏图片
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="uaddress" name="gimg" required="" lay-verify="pass"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>游戏路径
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="gshiwan" name="gshiwan" required="" lay-verify="pass"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>


                <!-- <div class="layui-form-item">
                     <label for="L_repass" class="layui-form-label">
                         <span class="x-red">*</span>确认密码
                     </label>
                     <div class="layui-input-inline">
                         <input type="password" id="L_repass"  name="upwd" required="" lay-verify="repass"
                         autocomplete="off" class="layui-input">
                     </div>
                 </div>-->
                <div class="layui-form-item">
                    <label class="layui-form-label"><!--for="L_repass"-->
                    </label>
                    <button onclick="save()" class="layui-btn"  lay-submit="">
                        增加
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部开始 -->
<div th:insert="~{youxi/superuser/foot::userfoot}"></div>
<!-- 底部结束 -->
</body>
</html>